<div id="fh5co-team" data-section="research">
  <div class="container">
    {{ with .Site.Params.research }}
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .title }}</h2>
      {{ if isset . "description" }}
      <p> {{ .description | markdownify }}</p>
      {{ end }}
    </div>
    {{ range .item }}
    <div class="col-md-12">
      <div class="person">
	<h3>{{ .paper_title }}</h3>
	<p class="links"> {{ .status }} </p>
	<p class="links">
	  <a href={{ .abstract }} class="btn btn-primary btn-outline popup-vimeo"> abstract </a>
	  {{ if isset . "pdf" }}
	  <a href={{ .pdf }} class="btn btn-primary btn-outline" target="_blank"> pdf </a>
	  {{ end }}
	  {{ if isset . "website" }}
	  <a href={{.website}} class="btn btn-primary btn-outline fh5co-content-nav"> project website </a>
	  {{ end }}
	  {{ if isset . "slides" }}
	  <a href={{.slides}} class="btn btn-primary btn-outline popup-vimeo"> slides </a>
	  {{ end }}
	  </p>

      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div> <!-- END fh5co-team -->
